body {
    background: black;
    color: white;
    margin: 0;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navigationBar li {
    float: right;
    font-size: 20px;
}

#navigationBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#navigationBar li a:not(.active):hover {
    background-color: #111111;
}

.active {
    background-color: darkcyan;
}

#welcomeMessage {
    display: block;
    margin-top: 5%;
    padding: 1px;
    background-color: white;
}

#welcomeMessage p {
    font-size: 40px;
    margin-left: 5%;
    color: #008b8b;
}

#image_downarrow {
    filter: invert(29%) sepia(29%) saturate(6342%) hue-rotate(163deg) brightness(94%) contrast(101%);
    width: 42px;
    height: 42px;
}

#image_frontend {
    width: 800px;
}