body {
    background: black;
    color: white;
    margin: 0;
}

ul {
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navigationBar li {
    float: right;
    font-size: 20px;
}

#navigationBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

#navigationBar li a:not(.active):hover {
    background-color: #111111;
}

.active {
    background-color: darkcyan;
}